
@if (cocktail(); as cocktail) {
    <button type="button" routerLink="./cocktails"><i class="bi bi-0-square-fill"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
    </svg> Back</button>
    <div class="cocktail-detail-content">
        <div class="col"> 
            <img [ngSrc]="cocktail.imageUrl" width="700" height="700" class="image" priority>
        </div>
        <div class="col"> 
            <h1><strong>{{cocktail.name}}</strong><span class="icon-star" [ngClass]="{'active' : isFavorite()}" (click)="handleFavorite()"></span></h1>
                <h5><strong>Type:</strong></h5>
                <span class="drink-type" [ngClass]="cocktail.isAlcoholic ? 'alcoholic' : 'non-alcoholic'">{{cocktail.isAlcoholic ? 'Alcoholic' : 'Non Alcoholic'}}</span>
            <h5><strong>Ingredient:</strong></h5>
            <ul>
                @for (ingredient of cocktail.ingredients; track $index) {
                    <li>{{ingredient}}</li>
                }
            </ul>
            <h5><strong>Instruction:</strong></h5>
            <span>{{cocktail.instructions}}</span>
        </div>
    </div>
}