@if (cocktail(); as cocktail) {
    <div class="detail-container">
        <button type="button" routerLink="./cocktails"><i class="bi bi-house"></i>Back</button>
        <div class="cocktail-body">
            <div class="row">
                <div class="col-sm-auto">
                    <img [ngSrc]="cocktail.imageUrl" width="700" height="700" class="image" priority>
                </div>
                <div class="col cocktail-details">
                    <div class="row" >
                        <h1><strong>{{cocktail.name}}</strong> <span id="star-{{cocktail.id}}" (click)="handleFavorite()" class="icon-star star" [ngClass]="{'active' : isFavorite()}"></span></h1>
                    </div>
                    <div class="row mt-1">
                        <div class="col">
                            <h4><strong>Type:</strong></h4>
                        </div>
                        <div class="col-sm-8">
                            <span class="drink-type" [ngClass]="cocktail.isAlcoholic ? 'alcoholic' : 'non-alcoholic'">{{cocktail.isAlcoholic ? 'Alcoholic' : 'Non Alcoholic'}}</span>
                        </div>  
                    </div>
                    <div class="row mt-1">
                        <div class="col align-self-center">
                            <h4><strong>Ingredient:</strong></h4>
                        </div>
                        <div class="col-sm-8">
                            <ul>
                                @for (ingredient of cocktail.ingredients; track $index) {
                                    <li>{{ingredient}}</li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col align-self-center">
                            <h4><strong>Instruction:</strong></h4>
                        </div>
                        <div class="col-sm-8">
                            <span>{{cocktail.instructions}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}