.card-container{
    padding: 0.5rem;
  }

.card-body {
    border: solid;
    border-width: thin;
    border-color: grey;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    padding-right: 0.5rem;
}

.card-title {
    font-size: large;
    font-weight: bold;
}
.image {
position: absolute;
}

.card-description{
    margin-left: 2rem;
    padding-bottom: 2rem;
}
.drink-type {
    border-radius: 1rem;
    color: white;
    padding:0px 0.5rem
}

.alcoholic {
    background-color: #B0C5A4 ;
}
.non-alcoholic {
    background-color: #51829B ;
}
.card-ingredient {
    padding-right: 1.5rem;
    display: inline-block;
    font-size: small;
}