<mat-card class="cocktail-card">
    <mat-card-content class="cocktail-card-content">
        <div class="col"> 
            <img mat-card-image [src]="cocktail.imageUrl" />
        </div>
        <div class="col"> 
            <a routerLink="/cocktails/{{cocktail.id}}"><h2>{{cocktail.name}}</h2></a>
            <span id="star-{{cocktail.id}}" class="icon-star top-right-corner" [ngClass]="{'active' : isFavorite()}" (click)="handleFavorite()"></span> 
            <span class="drink-type" [ngClass]="cocktail.isAlcoholic ? 'alcoholic' : 'non-alcoholic'">{{cocktail.isAlcoholic ? 'Alcoholic' : 'Non Alcoholic'}}</span>
            <p class="card-ingredient" >{{cocktail.ingredients.join(' | ')}}</p>
        </div>
    </mat-card-content>
</mat-card>