@if (cocktail) {
<mat-card class="cocktail-card">
    <mat-card-content class="cocktail-card-content">
        <div class="col"> 
            <img mat-card-image [src]="cocktail.imageUrl" />
        </div>
        <div class="col">
            <div class="top-right-corner" (click)="handleFavorite()">
                <span id="star-{{cocktail.id}}" class="icon-star" [ngClass]="{'active' : isFavorite()}"></span> 
            </div>
            <div class="p-2">
                <a routerLink="/cocktails/{{cocktail.id}}"> <strong class="h5">{{cocktail.name}}</strong></a>
            </div>
            <div class="p-2">
                <span class="drink-type" [ngClass]="cocktail.isAlcoholic ? 'alcoholic' : 'non-alcoholic'">{{cocktail.isAlcoholic ? 'Alcoholic' : 'Non Alcoholic'}}</span>
            </div>
            <div class="p-2">
                <p class="card-ingredient" >{{cocktail.ingredients.join(' | ')}}</p>
            </div>
        </div>
    </mat-card-content>
</mat-card>
}