.top-right-corner {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    text-align: center;
}

img {
    object-fit: cover!important;
    height: 100%;
    width: 180px;
}

.card-ingredient{
  font-size: small;
}

.cocktail-card {
    border-radius: 1rem;
    overflow: hidden;

    .cocktail-card-content {
      display: flex;
      padding: 0;
      justify-content: space-between;

      & > * {
        justify-content: center;
        flex: auto;
        max-width: 50%;
        &:last-child {
          flex-direction: column;
          align-items: start;
        }
      }
    }
}
