<div class='row'>
    <div class='primary'>
        <h3>Filters</h3>
        <div>
            <span>Cocktail name </span>
            <input type="text" [(ngModel)]="cocktailFilter.name" placeholder="Filter by name">
        </div>
    </div>
</div>
<div class='row'>
    <div class='list-container'>
        @for (cocktail of cocktails() | filterBy: cocktailFilter; track cocktail.id) {
            <div class='item'>
                <app-cocktail-card [cocktail]="cocktail"></app-cocktail-card>
            </div>
        }
    </div>
</div>